@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  height: 100vh;
}

.sidebar{
  background: linear-gradient(180deg, #470000, #070c0a);
  width: 250px;
  height: 100vh;
  color: #fff;
  padding: 30px 20px;
}

.sidebar-header{
  display: flex;
  align-items: center;
}

.sidebar-header h2{
  font-size: 18px;
  font-weight: bold;
}

.navbar h3{
  margin-top: 20px;
  font-size: 14px;
  color: #808d9c;
}

.navbar ul{
  list-style: none;
}

.navbar ul li{
  margin: 10px 0;
}

.navbar ul li a{
  color: #fff;
  text-decoration: none;
  padding: 10px;
  display: flex;
  align-items: center;
}

.navbar ul li a i{
  margin-right: 10px;
}

img{
  border-radius: 50%;
  width: 40px;
  margin-right: 10px;
}

.profile{
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.profile-info{
  font-size: 14px;
}

.profile-info p{
  margin-bottom: 5px;
  font-weight: bold;
}